<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową pozycję</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add a new recipe</h1>

    <form th:object="${recipe}" method="post" th:action="@{/save}">
        <div class="form-group">
            <label for="recipeName">Recipe name</label>
            <input th:field="*{recipeName}" type="text" class="form-control" id="recipeName"
                   placeholder="Recipe name">
        </div>
        <div class="form-group">
            <label for="recipeDescription">Recipe description</label>
            <input th:field="*{description}" type="text" class="form-control" id="recipeDescription"
                   placeholder="Describe in a few words your recipe. A few words.">
        </div>
        <div class="form-group">
            <label for="category">Recipe category</label>
            <input th:field="*{category}" type="text" class="form-control" id="category"
                   placeholder="Which categry does it fall for?">
            <!-- input selection -->
        </div>
        <div class="form-group">
            <label for="preparationTime">Preparation time</label>
            <input th:field="*{preparationTime}" type="text" class="form-control" id="preparationTime" placeholder="What's the preparation time (minutes)?">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>