<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All recipes</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<section class="page-lvl1">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-lvl1-title">
                    <h2 class="page-lvl1-title-h">The ravenous book</h2>
                    <p>Welcome to the modern cooking book!</p>
                </div>
            </div>
        </div>

        <div class="row section3">
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="active">
                        <a data-toggle="pill" href="#dolor">
                            <div class="page-lvl1-box-title">
                                <div class="page-lvl1-box-title-img">
                                    <img class="page-lvl1-box-img-n" src="img/cog-solid.png" alt="Diamond">
                                </div>
                                <h4 class="page-lvl1-box-title-h">HOW DOES IT WORK?</h4>
                            </div>
                            <p></p>
                        </a>
                    </li>
                    <li><a data-toggle="pill" href="#ipsum">
                        <div class="page-lvl1-box-title">
                            <div class="page-lvl1-box-title-img">
                                <img class="page-lvl1-box-img-n" src="img/utensils-solid.png" alt="Head">
                            </div>
                            <h4 class="page-lvl1-box-title-h">RECIPES LIST</h4>
                        </div>
                        <p></p>
                    </a></li>
                    <li><a data-toggle="pill" href="#magna">
                        <div class="page-lvl1-box-title">
                            <div class="page-lvl1-box-title-img">
                                <img class="page-lvl1-box-img-n" src="img/sort-numeric-down-solid.png" alt="Settings">
                            </div>
                            <h4 class="page-lvl1-box-title-h">Sort yourself out</h4>
                        </div>
                        <p></p>
                    </a></li>
                </ul>
                <div class="tab-content">
                    <div id="dolor" class="tab-pane fade in active">
                        <!-- TUTAJ KAZDY POST  -->
                        <div class="row">
                            <div class="container section1">
                                <div class="row row-flex">
                                    <div class="col-sm-4 col-xs-12 col-left page-lvl2-col-left">
                                        <img class="page-lvl1-box-img-n" src="img/cog-solid.png" alt="Diamond">
                                        <h1 class="lvl1-dark-bgr-title page-lvl2-title">
                                            1:1</h1>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 col-right page-lvl2-col-right">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="sg-lvl1-title page-lvl2">How does it work?</h2>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="sg-lvl1-desc">
                                                    1. Get your favourte meal description handy. <br />
                                                    2. Categorise in a following categories: breakfast, lunch, snack, dinner.<br />
                                                    3. No, vegetarian parties are not allowed here.<br />
                                                    4. Get ingridients, approximately cooking time.<br />
                                                    5. Ready? Share your inspirations with us!<br /><br />
                                                    <a class="btn btn-lvl1-green " th:href="@{/add}" role="button">Add a recipe</a></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ipsum" class="tab-pane fade">
                        <div class="row">
                            <div class="container section1">
                                <div class="row row-flex">
                                    <div class="col-sm-4 col-xs-12 col-left page-lvl2-col-left">
                                        <img class="page-lvl1-box-img-n" src="img/utensils-solid.png" alt="Diamond">
                                        <h1 class="lvl1-dark-bgr-title page-lvl2-title">
                                            RECIPES</h1>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 col-right page-lvl2-col-right">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="sg-lvl1-title page-lvl2">What's your option</h2>
                                            </div>
                                            <div class="col-md-12">

                                                <table th:margin-left="auto" th:margin-right="auto">
                                                    <thead>
                                                    <tr>
                                                        <th>Recipe name</th>
                                                        <th>Category</th>
                                                        <th>Cooking time</th>
                                                        <th>Description</th>
                                                    </tr>
                                                    </thead>
                                                    <tr th:each="recipe:${recipes}">
                                                        <th><a th:href="@{|/recipe?recipeId=${recipe.id}|}" th:text="|${recipe.recipeName}|"></a></th>
                                                        <th><a th:text="|${recipe.category}|"></a>
                                                        <th><a th:text="|${recipe.preparationTime}|"></a>
                                                        <th><a th:text="|${recipe.description}|"></a>
                                                </table>

                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="magna" class="tab-pane fade">
                        <div class="row">
                            <div class="container section1">
                                <div class="row row-flex">
                                    <div class="col-sm-4 col-xs-12 col-left page-lvl2-col-left">
                                        <img class="page-lvl1-box-img-n" src="img/sort-numeric-down-solid.png" alt="Diamond">
                                        <h1 class="lvl1-dark-bgr-title page-lvl2-title">
                                            Expecting more?</h1>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 col-right page-lvl2-col-right">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="sg-lvl1-title page-lvl2">Sort out!</h2>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="sg-lvl1-desc"> Choose your recipies by categories!</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>


