<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single recipe</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="../static/styles.css/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<section class="page-lvl1">
    <div class="container">
    </div>
    <div class="parallax parallax-2">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-lvl1-title">
                    <h2 class="page-lvl1-title-h">The ravenous book</h2>
                    <p>Welcome to the modern cooking book!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row section3">
        <div class="container">


            <div class="row">
                <div class="container section1">
                    <div class="row row-flex">
                        <div class="col-sm-4 col-xs-12 col-left page-lvl2-col-left">
                            <h1 class="lvl1-dark-bgr-title page-lvl2-title" th:text="${recipe.recipeName}">Recipe
                                name</h1>
                        </div>
                        <div class="col-sm-8 col-xs-12 col-right page-lvl2-col-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="sg-lvl1-title page-lvl2">Here's your chosen recipe!</h2>
                                </div>
                                <div class="col-md-12 desc-container">
                                    <p class="sg-lvl1-desc">

                                    <p th:text="|What have we got here: ${recipe.description}|"></p>
                                    <p th:text="|Preparation time: ${recipe.preparationTime} min|"></p>
                                    <p th:text="|Meal category: ${recipe.category}|"></p>
                                    <p th:text="|How to make it: ${recipe.describedRecipe}|"></p>
                                    <p th:text="|Popularity: ${recipe.likesCount}|"></p>

                                    <div th:switch="${recipe.category}">
                                        <img class="category-picture" src="../static/img/breakfast.jpg"
                                             th:src="@{/img/breakfast.jpg}"
                                             style="width: 200px"
                                             th:case="breakfast"
                                             alt="Generic placeholder image">
                                        <img class="category-picture" src="../static/img/snack.jpg"
                                             th:src="@{/img/snack.jpg}"
                                             style="width: 200px"
                                             th:case="snack"
                                             alt="Generic placeholder image">
                                        <img class="category-picture" src="../static/img/lunch.jpg"
                                             th:src="@{/img/lunch.jpg}"
                                             style="width: 200px"
                                             th:case="lunch"
                                             alt="Generic placeholder image">
                                        <img class="category-picture" src="../static/img/dinner.jpg"
                                             th:src="@{/img/dinner.jpg}"
                                             style="width: 200px"
                                             th:case="dinner"
                                             alt="Generic placeholder image">
                                    </div>


                                    <a class="btn btn-lvl1-green" th:href="@{/}" role="button">come back</a>


                                    <div class="likeButton">
                                        <form th:action="@{|/likeRecipe/${recipe.getId()}|}" method="post">
                                            <button type="submit" class="btn btn-lvl1-green"th:text="|Like it (${recipe.likesCount})|">like</button>
                                        </form>
                                    </div>


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>