<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signle recipe</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<section class="page-lvl1">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-lvl1-title">
                    <h2 class="page-lvl1-title-h">The ravenous book</h2>
                    <p>Welcome to the modern cooking book!</p>
                </div>
            </div>
        </div>

        <div class="row section3">
            <div class="container">


                <div class="row">
                    <div class="container section1">
                        <div class="row row-flex">
                            <div class="col-sm-4 col-xs-12 col-left page-lvl2-col-left">
                                <h1 class="lvl1-dark-bgr-title page-lvl2-title" th:text="${recipe.recipeName}">Recipe
                                    name</h1>
                            </div>
                            <div class="col-sm-8 col-xs-12 col-right page-lvl2-col-right">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="sg-lvl1-title page-lvl2">Here's your choosen recipe!</h2>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="sg-lvl1-desc">

                                        <p th:text="|What have we got here: ${recipe.description}|"></p>
                                        <p th:text="|Preparation time: ${recipe.preparationTime}|"></p>
                                        <p th:text="|Meal category: ${recipe.category}|"></p>
                                        <h2 th:text="|Popularity: ${recipe.likesCount}|"></h2>

                                        <a class="btn btn-lvl1-green " th:href="@{/add}" role="button">props!</a>
                                        <a class="btn btn-lvl1-green " th:href="@{/}" role="button">come back</a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--<div class="container">-->
    <!--<h1>Here's your recipe!</h1>-->
    <!--<h2 th:text="${recipe.recipeName}">Recipe name</h2>-->
    <!--<p th:text="${recipe.description}"></p>-->
    <!--<p th:text="${recipe.preparationTime}"></p>-->
    <!--<p th:text="${recipe.category}"></p>-->
    <!--<h2 th:text="${recipe.likesCount}">Ilość polubień: 0</h2>-->

    <!--&lt;!&ndash;<button type="submit" class="btn btn-success" name="button" id="1"&ndash;&gt;-->
    <!--&lt;!&ndash;th:value="${recipe.setLikesCount(recipe.getLikesCount()+1)}">I'm a fan!</button>&ndash;&gt;-->

<!--</div>-->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>